.drop_down {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.drop_down_btn {
  width: 20rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  background-color: var(--primary-white-color);
  border: 0.1rem solid var(--light-grey-color);
  border-radius: 0.4rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.content {
  position: absolute;
  top: 3rem;
  width: 20rem;
  max-height: 10rem;
  overflow: overlay;
  border: 0.1rem solid var(--dark-grey-color);
  border-radius: 0.4rem;
  background-color: var(--primary-white-color);
  box-shadow: 0 0 0.4rem var(--light-blue-color);
  cursor: pointer;
}
.content > * {
  padding: 0.7rem 1rem;
  border-bottom: 0.1rem solid var(--light-grey-color);
}
.content > *:hover {
  background-color: var(--light-grey-color);
}
.content :last-child {
  border-bottom: none;
}
.content ::-webkit-scrollbar {
  display: none;
}
i {
  position: relative;
  left: 16rem;
}
