.scrolling_image_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  border: 1px solid black;
  overflow-x: scroll;
}
.slides {
  display: flex;
}
.dog_breed_image_container {
  border-radius: 1rem;
  width: 5rem;
  cursor: pointer;
  margin: 0.5rem;
}
.active {
  border: 0.2rem solid red;
}
#BtnPosition {
  position: relative;
  bottom: 15rem;
}
