.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Constant Colors */
:root {
  /* grey variant */
  --light-grey-color: #d3d3d3;
  --dark-grey-color: #6f6f6f;

  /* blue variant */
  --light-blue-color: #e9e1f8;
  --dark-blue-color: #7f5fc9;

  /* primary colors */
  --primary-black-color: black;
  --primary-red-color: red;
  --primary-white-color: white;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
